.menu {
  padding: 16px;
  color: var(--admin-font-color);
  font-size: 1.4rem;
  font-family: Public Sans, sans-serif;
}

.label {
  color: #64758b;
  font-size: 1.1rem;
  padding: 4px 0;
  text-transform: uppercase;
}

.shine {
  color: var(--admin-font-color);
}
