// default
.price {
  font-weight: 600;
  color: inherit;
}

.old-price {
  width: max-content;
  left: 80px;
  font-weight: 500;
  color: #9e9e9e;
  font-size: 1.2rem;
  margin-left: 4px;
  text-decoration: line-through;
}

.new-price {
  font-weight: 600;
  color: #d7422d;
  font-size: 1.4rem;
}

// pos__shop
.wrapper.pos__shop {
  position: relative;
}

.old-price.pos__shop {
  position: absolute;
  left: 180px;
  top: 2px;
}

// old_new_price
.new-price.old_new_price {
  font-size: 1.5rem;
  margin-left: 8px;
}

.old-price.old_new_price {
  font-size: 1.3rem;
}

.old-price.fs_15 {
  font-size: 1.3rem;
}

.fs_15 {
  font-size: 1.5rem;
}
