.wrapper {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: red;
  border: 0.5px solid #ccc;
  border-radius: 999px;
}
.left {
  position: absolute;
  z-index: 10;
  top: -9px;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: ew-resize;
}
.right {
  position: absolute;
  z-index: 10;
  top: -9px;
  left: 240px;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: ew-resize;
}

.price-range {
  color: #333;
  font-size: 1.4rem;
}
