.product-remove {
  width: 5%;
}
.product-name {
  width: 25%;
}
.product-quantity {
  width: 18%;
}
.product-total {
  text-align: center;
}
.product-thumbnail {
  width: 18%;
  // centralizar a imagem
}
.product-thumbnail img {
  display: block;
  width: 90px;
  height: 140px;
  object-fit: cover;
}

.button-block {
  width: 100%;
  text-align: center;
  .button {
    border-radius: 2px;
  }
}
.quickview-btn {
  color: #fff;
  background-color: #000;
  border: #000;
  border-style: solid;
  border-width: 0.727px;
}

.quickview-btn:hover {
  color: #000;
  background-color: #fff;
  border-style: solid;
  border-width: 0.727px;
  transition: all 0.3s ease;
}

.addtocart-btn {
  color: #000;
  border: #000;
  border-style: solid;
  border-width: 0.727px;
}

.addtocart-btn:hover {
  color: #fff;
  background-color: #000;
  border-style: solid;
  border-width: 0.727px;
  transition: all 0.3s ease;
}

.text-btn {
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 3rem;
}

.figure img.image-main {
  max-width: 90px;
}
.figure img.image-hover {
  position: absolute;
  max-width: 90px;
  top: 0;
  bottom: 0;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.8s;
}

.figure {
  width: 90px;
  height: 140px;
  position: relative;
  overflow: hidden;
  max-width: 90px;
  padding: 0px 0.5px;

  img.image-hover {
    transition: transform 0.9s ease; // add this line
    &:hover {
      opacity: 1;
      transform: scale(1.1); // add this line
    }
  }
}
