$product-title-style: uppercase;
$product-title-size: 13px;
$product-title-weight: 700;
$product-title-line-height: 16.5px;
$product-title-spacing: 2px;
$product-price-size: 14px;
$product-price-weight: 400;
$product-title-color: #4d5959;
$product-primary-price-color: #696969;
$content-cl: #878787;
$quickview-hover-cl: #fff;
$quickview-hover-bg-cl: #222222;
$quickview-cl: #fff;
$quickview-bg-cl: #b59677;

.row-cols {
  img.image-main {
    transition: filter 0.4s ease; // add this line
  }
  &:hover {
    .trashcan-icon {
      display: block;
    }
    img.image-main {
      filter: brightness(0.9);
    }
  }

  .trashcan-icon {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.button-block {
  width: 100%;
}

.product-title {
  font-size: $product-title-size;
  font-weight: $product-title-weight;
  color: $product-title-color;
  text-transform: $product-title-style;
  letter-spacing: $product-title-spacing;
  line-height: $product-title-line-height;
  display: block;
}

.product-price {
  font-size: $product-price-size;
  color: $product-primary-price-color;
  font-weight: $product-price-weight;
}

.product-description {
  color: $content-cl;
  font-size: 14px;
}

.quickview-btn {
  color: $quickview-cl !important;
  background-color: $quickview-bg-cl !important;
  border: $quickview-bg-cl !important;
  border-style: solid !important;
  border-width: 0.727px !important;
}

.quickview-btn:hover {
  color: $quickview-hover-cl !important;
  background-color: $quickview-hover-bg-cl !important;
  border-style: solid !important;
  border-width: 0.727px !important;
  border-color: $quickview-hover-bg-cl !important;
}

.addtocart-btn {
  color: $quickview-bg-cl !important;
  border: $quickview-bg-cl !important;
  border-style: solid !important;
  border-width: 0.727px !important;
}

.addtocart-btn:hover {
  color: $quickview-hover-cl !important;
  background-color: $quickview-hover-bg-cl !important;
  border-style: solid !important;
  border-width: 0.727px !important;
  border-color: $quickview-hover-bg-cl !important;
}

.text-btn {
  font-size: 14px !important;
  text-transform: uppercase !important;
  display: block !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  line-height: 3rem !important;
}

.trashcan-icon {
  font-size: 1.5rem;
  color: #b59677;
  display: inline-block;
  padding: 3px 8px;
  background-color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.trashcan-icon:hover {
  transform: translateY(-3px);
}

.figure img.image-main {
  max-width: 180px;
}
.figure img.image-hover {
  position: absolute;
  max-width: 180px;
  top: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.8s;
}

.figure {
  position: relative;
  overflow: hidden;
  max-width: 180px !important;
  padding: 0px .5px !important;

  img.image-hover {
    transition: transform .9s ease; // add this line
    &:hover {
      opacity: 1;
      transform: scale(1.1); // add this line
    }
  }
}
