@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container {
  padding: 0;
  margin: 0;
  background-color: #fff;
  padding-top: 120px !important;
}

.topbar {
  background: url('../../assets/images/bg-3.png') no-repeat;
  background-size: cover;
  background-position: top;
  background-color: rgba(0, 0, 0, 0.54) !important;
  margin-bottom: 50px;
  padding-top: 80px;
  padding-bottom: 80px;
  .title {
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 0px;
  }
}

.section-1100 {
  min-width: 1100px;
  max-width: 1100px;
  margin: 0 auto 50px auto;
}

.header-component {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: transparent;
}

.header-component.show {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
  backdrop-filter: blur(10px);
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
}

.header-component.hide {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
  backdrop-filter: blur(10px);
  transform: translateY(-130px);
  transition: all 0.4s ease-in-out;
}
