.topbar {
  background-color: rgba(0, 0, 0, 0.54) !important;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.topbar .title {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 0px;
}