/* Butler font */
@font-face {
  font-family: Butler;
  src: url("/assets/vendors/fonts/butler/Butler-Black.woff2");
  font-weight: 200;
}

@font-face {
  font-family: Butler;
  src: url("/assets/vendors/fonts/butler/Butler-Bold.woff2");
  font-weight: 500;
}

@font-face {
  font-family: Butler;
  src: url("/assets/vendors/fonts/butler/Butler-ExtraBold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: Butler;
  src: url("/assets/vendors/fonts/butler/Butler-Light.woff2");
  font-weight: 200;
}

@font-face {
  font-family: Butler;
  src: url("/assets/vendors/fonts/butler/Butler-Medium.woff2");
  font-weight: 400;
}

@font-face {
  font-family: Butler;
  src: url("/assets/vendors/fonts/butler/Butler-UltraLight.woff2");
  font-weight: 100;
}

@font-face {
  font-family: Butler;
  src: url("/assets/vendors/fonts/butler/Butler.woff2");
  font-weight: 300;
}
