.topbar {
  background-color: rgba(0, 0, 0, 0.54) !important;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.topbar .title {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
}

.content-wishlist {
  max-width: 1170px;
  margin: auto;
}
