@import '../../components/GlobalStyles/butlerFont.css';

.btn {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  padding: 6px 12px;
  font-size: 1.6rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  border: 1px solid transparent;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

.btn-secondary {
  border: 1px solid transparent;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}

.content {
  padding: 0px 20px;
  .head {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    background: url('../../assets/images/bg-3-reverse.png') no-repeat;
    background-size: cover;
    background-position: right top;
    padding-bottom: 10px;
    .info {
      padding-left: 20px;
      h2 {
        font-family: 'Butler', sans-serif;
        font-size: 5rem;
      }
    }
    .logo {
      display: flex;
      flex-direction: column;
      align-items: end;
      padding: 20px;

      img {
        width: 100px;
        // height: 100px;
      }
      h5 {
        font-family: 'Butler', sans-serif;
      }
    }
  }

  .detail {
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: right;
      thead {
        background-color: #f8f9fa;
        tr {
          th {
            font-size: 1.4rem;
            padding: 12px 15px;
            line-height: 1.5;
            text-transform: uppercase;
            color: #939393;
            font-weight: 500;
          }
          .product-name {
            width: 40%;
            text-align: left;
          }
          .product-price {
            width: 20%;
          }
          .product-quantity {
            width: 20%;
          }
          .product-total {
            width: 20%;
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 12px 15px;
          }
          .product-name {
            text-align: left;
          }
        }
      }
    }
  }
}

.footer {
  text-align: center;
  font-size: 1rem;
  color: #939393;
}
