.wrapper {
  padding-left: 15px;
  border-left: 1px solid #ccc;
  font-size: 1.6rem !important;
}

.heading {
  font-size: 2.6rem;
  font-family: 'Butler', sans-serif;
  margin: 20px 0;
  font-weight: 400;
}

.thead {
  th {
    background-color: #f8f9fa !important;
    font-size: 1.4rem !important;
    padding: 12px 15px !important;
    line-height: 1.5 !important;
    text-transform: uppercase !important;
    color: #939393 !important;
    font-weight: 500 !important;
  }
}

.button {
  display: block;
  font-weight: 600 !important;
  padding: 10px 30px !important;
  font-size: 1.6rem !important;
  background-color: #000 !important;
  border: none !important;
  &:hover {
    background-color: rgb(153, 153, 153) !important;
    border: none !important;
  }
}

tbody {
  td {
    vertical-align: middle;
  }
}
