.react-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.react-modal-wrapper {
  max-width: 750px;
  margin: 2rem auto;
}

.react-modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 90vh;
}

.react-modal-header,
.react-modal-body,
.react-modal-footer {
  padding: 1rem;
}

.react-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dedede;
}

.react-modal-title {
  line-height: 1.5;
  font-size: 2rem;
}

.btn-close {
  border: none;
  font-size: 2rem;
  padding: 0.25rem;
  cursor: pointer;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  background: transparent;
}

.react-modal-footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid #dedede;
}

.react-modal-footer > * {
  margin: 0 0.25rem;
}
