@import '../butlerFont.css';

.wrapper {
  padding-left: 15px;
  border-left: 1px solid #ccc;
}

.heading {
  font-size: 2.6rem;
  font-family: 'Butler', sans-serif;
  margin: 20px 0;
  font-weight: 400;
}

.password {
  padding: 15px;
  background-color: #f8f9fa;
  border: none;
}

.form-control-ovr {
  &:focus {
    box-shadow: none !important;
    border-color: rgb(153, 153, 153) !important;
  }
  height: 43px !important;
  font-size: 1.4rem !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.label-ovr {
  font-size: 1.4rem !important;
}

.button {
  display: block;
  font-weight: 600 !important;
  padding: 10px 30px !important;
  font-size: 1.6rem !important;
  background-color: #000 !important;
  border: none !important;
  margin-bottom: 30px;
  &:hover {
    background-color: rgb(153, 153, 153) !important;
    border: none !important;
  }
}

.form-select-ovr {
  &:focus {
    box-shadow: none !important;
    border-color: rgb(153, 153, 153) !important;
  }
  color: #ccc !important;
  height: 43px !important;
  font-size: 1.4rem !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
