.slider {
  height: 900px;
  width: 100%;
  position: relative;
  overflow: hidden;
  .slider-item {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    &::before {
      background-color: rgba(34, 34, 34, 0.25);
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
    &::after {
      background: linear-gradient(
        to bottom,
        #222222 0%,
        #222222 19%,
        rgba(34, 34, 34, 0) 65%,
        rgba(34, 34, 34, 0) 100%
      );
      filter: alpha(opacity = 25);
      opacity: 0.25;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
    .img-wrapper {
      width: 100%;
      height: 100%;
      img {
        transition: all 300ms linear 0ms;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &.active {
        animation: cms-slider-zoom 5500ms infinite;
      }
    }
    .text-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      .text-line {
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 15px;
        padding-bottom: 22px;
        text-align: center;
        z-index: 1;
      }
      .text-title {
        font-family: 'Cormorant Infant', sans-serif;
        color: white;
        font-size: 85px;
        line-height: 1.05;
        text-align: center;
      }
      .shop-now {
        display: flex;
        justify-content: center;
        padding-top: 23px;
        .btn-accent {
          background-color: #fff !important;
          box-shadow: 0 0 0 1px #fff inset !important;
        }
        .btn {
          position: relative;
          font-size: 15px;
          font-family: 'Yantramanav', sans-serif;
          text-transform: uppercase;
          letter-spacing: 0.6px;
          padding: 0 40px;
          min-height: 58px;
          line-height: 58px;
          transition: all 300ms linear 0ms;
          display: inline-flex;
          gap: 10px;
          align-items: center;
          cursor: pointer;
          border: none;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          justify-content: center;
          &::after {
            content: '';
            border-bottom: 1px solid;
            position: absolute;
            left: 40px;
            right: 40px;
            margin-top: 18px;
            transform-origin: left center;
            transform: scale(0, 1);
            transition: transform 0.4s cubic-bezier(0.37, 0.31, 0.2, 0.85);
          }
          &:hover::after {
            transform: scale(1, 1);
          }
        }
        .text-black {
          color: #222222;
        }
        a {
          text-decoration: none;
          transition: all 300ms linear 0ms;
          color: #222222;
        }
      }
      &.active {
        animation: zoomIn 1.25s;
      }
    }
  }
  .active {
    opacity: 1;
  }
}

.related-products-container {
  padding: 100px 10px;
  margin: auto;
  .related-products-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    .text-heading {
      color: #222222;
      font-size: 45px;
      text-align: center;
      font-family: 'Cormorant Infant', sans-serif;
      font-weight: 500;
      font-style: normal;
      line-height: 1.1;
      padding-bottom: 40px;
    }
    .products-container {
      margin-left: 70px;
      margin-right: 70px;
      .button-viewall {
        display: flex;
        justify-content: center;
        padding-top: 23px;
        .btn-accent {
          background-color: #fff !important;
          box-shadow: 0 0 0 1px black inset !important;
        }
        .btn {
          position: relative;
          font-size: 15px;
          font-family: 'Yantramanav', sans-serif;
          text-transform: uppercase;
          letter-spacing: 0.6px;
          padding: 0 40px;
          min-height: 58px;
          line-height: 58px;
          transition: all 300ms linear 0ms;
          display: inline-flex;
          gap: 10px;
          align-items: center;
          cursor: pointer;
          border: none;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          justify-content: center;
          &::after {
            content: '';
            border-bottom: 1px solid;
            position: absolute;
            left: 40px;
            right: 40px;
            margin-top: 18px;
            transform-origin: left center;
            transform: scale(0, 1);
            transition: transform 0.4s cubic-bezier(0.37, 0.31, 0.2, 0.85);
          }
          &:hover::after {
            transform: scale(1, 1);
          }
        }
        .text-black {
          color: #222222;
        }
        a {
          text-decoration: none;
          transition: all 300ms linear 0ms;
          color: #222222;
        }
      }
    }
  }
}

.categories-container {
  display: flex;
  gap: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 90px;
  width: 92%;
  margin: auto;
  display: flex;
  .dresses-container {
    width: 33.33%;
    height: 620px;
    overflow: hidden;
    position: relative;
    .text-heading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.5);
      color: #fff;
      font-size: 45px;
      text-align: center;
      font-family: 'Cormorant Infant', sans-serif;
      font-style: italic;
      font-weight: 500;
      line-height: 1.1;
      padding-bottom: 40px;
      z-index: 10;
      transition: all 300ms linear 0ms;
      transform-origin: center;
      visibility: hidden;
      opacity: 0;
    }
    &:hover {
      .text-heading {
        transform: translate(-50%, -50%) scale(1);
        visibility: visible;
        opacity: 1;
      }
      img {
        transform: scale(1.06) translateX(6px);
        transition: visibility 0.35s ease, opacity 0.35s ease, transform 0.6s cubic-bezier(0.61, 1, 0.88, 1);
      }
    }
  }
  .tshirt-container {
    width: 33.33%;
    height: 620px;
    overflow: hidden;
    position: relative;
    .text-heading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.5);
      color: #fff;
      font-size: 45px;
      text-align: center;
      font-family: 'Cormorant Infant', sans-serif;
      font-style: italic;
      font-weight: 500;
      line-height: 1.1;
      padding-bottom: 40px;
      z-index: 10;
      transition: all 300ms linear 0ms;
      transform-origin: center;
      visibility: hidden;
      opacity: 0;
    }
    &:hover {
      .text-heading {
        transform: translate(-50%, -50%) scale(1);
        visibility: visible;
        opacity: 1;
      }
      img {
        transform: scale(1.06) translateX(6px);
        transition: visibility 0.35s ease, opacity 0.35s ease, transform 0.6s cubic-bezier(0.61, 1, 0.88, 1);
      }
    }
  }
  .outerwear-container {
    width: 33.33%;
    height: 620px;
    overflow: hidden;
    position: relative;
    .text-heading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.5);
      color: #fff;
      font-size: 45px;
      text-align: center;
      font-family: 'Cormorant Infant', sans-serif;
      font-style: italic;
      font-weight: 500;
      line-height: 1.1;
      padding-bottom: 40px;
      z-index: 10;
      transition: all 300ms linear 0ms;
      transform-origin: center;
      visibility: hidden;
      opacity: 0;
    }
    &:hover {
      .text-heading {
        transform: translate(-50%, -50%) scale(1);
        visibility: visible;
        opacity: 1;
      }
      img {
        transform: scale(1.06) translateX(6px);
        transition: visibility 0.35s ease, opacity 0.35s ease, transform 0.6s cubic-bezier(0.61, 1, 0.88, 1);
      }
    }
  }
}

.subscribe-container {
  width: 1300px;
  margin: auto;
  display: flex;
  padding-top: 90px;
  padding-bottom: 70px;
  border-top: 1px solid #eaeaea;
  .contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    .text-heading {
      font-size: 26px;
      padding-bottom: 8px;
    }
  }
  .subscribe-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    .text-heading {
      font-size: 55px;
      padding-bottom: 20px;
      color: #222222;
      font-family: 'Cormorant Infant', sans-serif;
      font-weight: 500;
      font-style: normal;
      line-height: 1.1;
      text-align: center;
    }
    .input-wrapper {
      display: flex;
      width: 78%;
      input {
        border: none;
        box-shadow: 0 0 0 1px #222222 inset;
        padding: 0 20px;
        width: 100%;
        max-width: 100%;
        font-size: 16px;
        color: #282828;
        font-family: 'Yantramanav', sans-serif;
        border-radius: 0;
        height: 58px;
        line-height: 58px;
        padding-top: 0;
        padding-bottom: 0;
        display: block;
        &:focus-visible {
          outline: none;
        }
      }
      .btn {
        color: #fff;
        background-color: #222222;
        position: relative;
        font-size: 15px;
        font-family: 'Yantramanav', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        padding: 0 40px;
        min-height: 58px;
        line-height: 57px;
        transition: all 300ms linear 0ms;
        display: inline-flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
        border: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        justify-content: center;
        &:hover {
          color: #fff;
        }
        &::after {
          content: '';
          border-bottom: 1px solid;
          position: absolute;
          left: 40px;
          right: 40px;
          margin-top: 18px;
          transform-origin: left center;
          -webkit-transform-origin: left center;
          transform: scale(0, 1);
          transition: transform 0.4s cubic-bezier(0.37, 0.31, 0.2, 0.85);
        }
        &:hover::after {
          transform: scale(1, 1);
        }
      }
    }
  }
  .our-store {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    .text-heading {
      font-size: 26px;
      padding-bottom: 8px;
    }
  }
}

.fadeInUp {
  animation-name: fadeInUpAnimation;
  animation-duration: 1.25s;
}

.leftToRight {
  animation-name: leftToRight;
  animation-duration: 1.25s;
}

.rightToLeft {
  animation-name: rightToLeft;
  animation-duration: 1.25s;
}

.bottomToTop {
  animation-name: bottomToTop;
  animation-duration: 1.25s;
}

@keyframes cms-slider-zoom {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeInUpAnimation {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
