.container-tabs {
  max-width: 1300px;
  margin: 0 auto;
  .containter-content {
    padding-bottom: 30px;
    color: #282828;
    .tab {
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        font-size: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 1px solid #eaeaea;
        margin: 0 0 40px;
        li {
          position: relative;
          z-index: 1;
          color: #616161;
          display: block;
          padding-bottom: 8px;
          &:hover {
            cursor: pointer;
            color: #222222;
            &::after {
              left: 0;
              width: 100%;
            }
          }
          &::after {
            content: '';
            position: absolute;
            left: 50%;
            width: 0;
            bottom: -1px;
            height: 1px;
            background-color: #222222;
            transition: all 300ms linear 0ms;
          }
        }
        .active {
          color: #000000;
          &::after {
            left: 0;
            width: 100%;
          }
        }
      }
    }
    .show-content {
      display: block;
      padding: 15px 0;
      .description-content {
        margin-bottom: 20px;
      }
      .table-reason {
        margin: 25px 0;
        border: 1px solid #ddd;
        line-height: 1.4;
        td,
        th {
          padding: 10px;
          border: 1px solid #ddd;
        }
      }
    }
    .content {
      display: none;
    }
    .button-viewall {
      display: flex;
      justify-content: center;
      .btn-accent {
        background-color: #fff !important;
        box-shadow: 0 0 0 1px black inset !important;
      }
      .btn {
        position: relative;
        font-size: 15px;
        font-family: 'Yantramanav', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.6px;
        padding: 0 40px;
        min-height: 58px;
        line-height: 58px;
        transition: all 300ms linear 0ms;
        display: inline-flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
        border: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        justify-content: center;
        &::after {
          content: '';
          border-bottom: 1px solid;
          position: absolute;
          left: 40px;
          right: 40px;
          margin-top: 18px;
          transform-origin: left center;
          transform: scale(0, 1);
          transition: transform 0.4s cubic-bezier(0.37, 0.31, 0.2, 0.85);
        }
        &:hover::after {
          transform: scale(1, 1);
        }
      }
      .text-black {
        color: #222222;
      }
      a {
        text-decoration: none;
        transition: all 300ms linear 0ms;
        color: #222222;
      }
    }
  }
}
