// Overlay

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba($color: #000000, $alpha: 0.6);
}

.overlay[close] {
  display: none;
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.overlay-heading-text {
  display: block;
  margin-bottom: 30px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
}

.delete-product-container {
  width: 35%;
  height: max-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
  left: 50%;
  background-color: var(--admin-bg2);
  border-radius: 12px;
  padding: 40px;
}

.delete-product-container[open] {
  animation: SlideDown 0.5s ease-in-out;
}

.delete-product-container[close] {
  animation: SlideUp 0.3s forwards;
}

@keyframes SlideDown {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(25%);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(50%);
  }
}

@keyframes SlideUp {
  0% {
    opacity: 1;

    transform: translateX(-50%) translateY(50%);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(25%);
    display: none;
  }
}

.title {
  font-size: 2.2rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.product-name {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
}

.text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  font-size: 1.3rem;
  color: var(--admin-font-color);
  margin-bottom: 20px;
}
.btn-component {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

.btn-component + .btn-component {
  margin-left: 20px;
}

.trash-icon {
  font-size: 40px;
  color: #ccc;
}
