.wrapper {
  text-align: center;
  margin-bottom: 30px;
  transition: all 0.3s linear;
  padding-bottom: 16px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px 2px #00000014;
    transition: transform 0.3s linear;

    img {
      transition: transform 0.3s linear;

      transform: scale3d(1.07, 1.07, 1);
    }

    .actions {
      animation: slide-up 0.3s forwards;
      height: 60px;
    }
  }

  .actions {
    animation: slide-down 0.3s forwards;
    height: 0;
  }
}

.img-wrapper {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s linear;
}

.actions {
  position: absolute;
  overflow: hidden;
  z-index: 99;
  height: 0;
  width: 100%;
  bottom: 0;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;

  .select-text {
    text-transform: uppercase;
    padding: 0 14px;
    font-size: 1.5rem;
    line-height: 44px;
    border-left: 1px solid #00000014;
    border-right: 1px solid #00000014;
    cursor: pointer;
  }

  .icon {
    padding: 17px 25px;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      color: #fe6767;
    }
  }

  .icon[liked] {
    transition: all 0.2s linear;
    color: #fe6767;
  }
}

@keyframes slide-up {
  0% {
    height: 0;
    opacity: 0;
  }

  100% {
    opacity: 1;
    height: 60px;
  }
}

@keyframes slide-down {
  0% {
    height: 60px;
    opacity: 1;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}

.img {
  display: block;
  width: 100%;
  transition: transform 0.3s linear;
}

.category {
  font-size: 1.2rem;
  margin-top: 10px;
  display: block;
  color: #888686;
}

.name {
  min-height: 50px;
  margin-top: 10px;
  line-height: 1.4;
  font-family: (var(--font-poppins));
  font-size: 1.6rem;
  padding: 0 10px;
}

.price-component {
  color: #484f56;
  margin-top: 10px;
}
