.container {
  background-color: transparent;
  border-bottom: 1px solid rgba($color: #fff, $alpha: 0.15);
}

// handle animation

// top-header
.sub {
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   min-height: 48px;
  background-color: #000;
}

.left-text {
  color: #fff;
  font-size: 1.3rem;
  font-family: var(--font-yantramanav);
}
.auth-actions {
  color: #fff;

  a {
    color: rgba($color: #b4b4b8, $alpha: 0.5);
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 1.4rem;
    height: 100%;
    line-height: 40px;
    display: inline-block;
    padding: 0 16px;
    font-family: var(--font-yantramanav);
    font-weight: 400;
    transition: all 0.3s ease-in-out;

    .icon {
      width: 24px;
      display: inline-block;
    }

    &:hover {
      color: #b4b4b8;
    }
  }

  a + a {
    margin-left: 10px;
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: rgba($color: #fff, $alpha: 0);
  padding: 0 40px;
  transition: all 0.5s;
}

.main[light] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #fff;
  padding: 0 40px;
  transition: all 0.5s;
}

nav {
  flex: 1 0;
}

.list-header {
  display: flex;
  list-style-type: none;
  font-family: var(--font-yantramanav);
}

.list-header > li + li {
  margin-left: 20px;
}

.list-header li {
  font-size: 1.5rem;
  font-weight: 300;
}

.list-header li .header-link {
  display: block;
  letter-spacing: 1px;
  line-height: 79px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.list-header li .header-link[light] {
  color: #000;
}

.nav-icon {
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 4px;
}

.actions-wrapper {
  flex: 1 0;
}

.user-actions {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
}

// Search

.search {
  display: flex;
  justify-content: center;
  align-items: center;

  .search-component {
    margin-right: 16px;
  }
}

.icon-header {
  font-size: 2.4rem;
  font-weight: 600 !important;
  color: #fff;
  line-height: inherit !important;
  transition: all 0.5s;
}

.icon-header[light] {
  color: #000;
  transition: all 0.5s;
}

.wishlist {
}
.cart {
}

// category-header-component

.shop-header {
  position: relative;
}

.category-header-component {
  position: absolute;
  left: -100px;
  width: 100vw;
  height: 412px;
  background-color: #ccc;
}
