.header-component {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
}

.header-component.show {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
  backdrop-filter: blur(10px);
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
}

.header-component.hide {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
  backdrop-filter: blur(10px);
  transform: translateY(-130px);
  transition: all 0.4s ease-in-out;
}

.container {
  // padding-top: 121px;
}
