$heading-color: #4d5959;

.content {
  width: 340px;
  margin-top: 10px;
}
.sub-title {
  color: $heading-color;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 14px !important;
  margin-bottom: 10px;
  text-align: left !important;
}
