.search-input {
  width: 250px;
  line-height: 42px;
  border-radius: var(--rounded-full);
  border: 1px solid #ccc;
  padding-left: 45px;
  padding-right: 40px;
  font-family: var(--font-yantramanav);
  letter-spacing: 0.5px;
  transition: all 0.5s;
  outline: none;
  background-color: transparent;
  border-color: rgba($color: #ccc, $alpha: 1);
  caret-color: #fff;
  color: #102c57;

  &:focus {
    border-color: #333;
    border-color: #ccc;
  }

  &::placeholder {
    /* Edge 12-18 */
    color: rgba($color: #333, $alpha: 0.5);
  }
}

.search-input[light] {
  border: 1px solid #ccc;
  padding-left: 45px;
  padding-right: 40px;
  font-family: var(--font-yantramanav);
  letter-spacing: 0.5px;
  transition: all 0.5s;
  background-color: transparent;
  caret-color: #333;
  border-color: rgba($color: #333, $alpha: 0.2);
  color: #333;

  &:focus {
    border-color: #333;
  }
}

.icon {
  position: absolute;
  top: 11px;
  right: 12px;
  color: #888686;
}

.icon.xmark {
  cursor: pointer;
}

.icon.spinner {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.list {
  display: none;
  position: absolute;
  z-index: 9999;
  width: 450px;
  max-height: 400px;
  overflow-y: scroll;
  overscroll-behavior: contain;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px 0;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

  // border-bottom: 1px solid #e1e1e1;
  // &:hover {
  //   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  // }

  li {
    padding: 10px 20px;
    margin-bottom: 5px;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.name {
  line-height: 1.4;
  width: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.img {
  width: 60px;
  height: 70px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.category {
  text-align: center;
  display: block;
  font-size: 1.2rem;
  color: #888686;
  height: 20px;
}

.not-found {
  padding: 10px;
  text-align: center;
}

// variation
.variations {
  display: inline-block;
  width: 60px;
  text-align: center;
}

.variations-sec {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(5px);
}

.link {
  display: flex;
  width: 100%;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #888686;
  font-size: 1.4rem;
  z-index: 1;
}
