.container {
  padding: 0 16px;
  position: relative;
}

.footer {
  position: fixed;
  width: calc(100% - 20%);
  bottom: 0;
  color: var(--admin-font-color);
  padding: 20px;
  border-top: 0.5px solid rgba($color: #333, $alpha: 0.5);
}

.search {
  position: relative;
}

.search-icon {
  color: var(--admin-font-color);
  position: absolute;
  left: 8px;
  top: 8px;
  font-size: 1.4rem;
}

.search-input {
  height: 38px;
  width: 250px;
  background-color: inherit;
  color: #fff;
  opacity: 0.8;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid var(--admin-border-color);
  border-radius: 4px;

  ::-ms-input-placeholder {
    color: #64758b;
  }
}

.heading-text {
  color: #fff;
  font-size: 2rem;
  padding: 16px 0;
}

.table-container {
  padding: 20px;
  background-color: #132337;
  border-radius: 4px;
}

.header-table {
}

// table

.product-table {
  width: 100%;
  margin-top: 20px;

  thead {
    tr {
      color: #fff;
      font-size: 1.4rem;
      background-color: #1c2e45;
      height: 42px;

      th {
        padding: 10px 14px;
        color: #c8d7e9;
        text-align: left;
      }

      th[class*='price'] {
        text-align: center !important;
      }

      th[class*='stock'] {
        text-align: center !important;
      }

      th[class*='status'] {
        text-align: center !important;
      }

      th[class*='action'] {
        text-align: center !important;
      }
    }
  }

  tr {
    border-bottom: 1px solid #233a57;
  }
}

tbody {
  tr {
    height: 52px;
    td {
      padding: 10px 14px;
      color: #c8d7e9;
    }

    td[class*='code'] {
      color: #3b82f6;
    }

    td[class*='price'] {
      text-align: center !important;
    }

    td[class*='stock'] {
      text-align: center !important;
    }

    td[class*='status'] {
      text-align: center !important;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        transform: translateY(5px);
      }
    }

    td[class*='action'] {
      text-align: center !important;
    }

    &:nth-child(even) {
      background-color: #111827;
    }

    &:hover {
      background-color: #030712;
    }
  }
}

.actions {
  padding: 4px 6px;
  background-color: #243347;
  border-radius: 6px;
  user-select: none;
  cursor: pointer;
  font-size: 1.4rem;

  &:hover {
    background-color: #233a57;
  }
}

.actions + .actions {
  margin-left: 8px;
}

// status

.box {
  display: block;
  height: 22px;
  width: max-content;
  border-color: #64748b33;
  background-color: #243347;
  color: var(--admin-font-color);
  font-size: 1.2rem;
  padding: 2px 10px;
  border-radius: 4px;
}

.publish {
  background-color: #183b45;
  color: #259782;
}

.inactive {
  background-color: #412b3a;
  color: #ef4444;
}

.scheduled {
  color: #f97315;
  background-color: #423435;
}

.code {
  color: #3c82f6;
}

.name {
  color: #fff;
}

//

.showing {
  color: var(--admin-font-color);
  font-size: 1.4rem;
}

.paging {
  padding: 0 12px;
  border: 1px solid var(--admin-border-color);
  border-radius: 4px;
  color: var(--admin-font-color);
  font-size: 1.4rem;
  line-height: 32px;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: rgba($color: #3c82f6, $alpha: 0.5);
    color: #fff;
  }
}

.paging + .paging {
  margin-left: 10px;
}

.paging.active {
  background-color: #3c82f6;
  color: #fff;
}

// Overlay

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.overlay-heading-text {
  display: block;
  margin-bottom: 30px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
}

.add-product-container {
  width: 81%;
  height: 100%;
  background-color: var(--admin-bg2);
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 20px;
}

.inner-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

// Left-block
.left-block {
  width: 73%;
  background-color: var(--admin-bg);
  border-radius: 8px;
  padding: 20px;
  padding-bottom: 100px;
  margin-bottom: 100px;
  overflow-y: scroll;
  height: 100vh;
}

.left-block-footer {
  display: flex;
  justify-content: flex-end;
}

// Right block
.right-block {
  width: 272px;
  height: fit-content;
  background-color: var(--admin-bg);
  border-radius: 8px;
  padding: 10px 16px;
  padding-bottom: 20px;

  .heading-text {
    padding: 10px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.img-block {
  background-color: rgba($color: #0f1824, $alpha: 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  height: 240px;

  img {
    width: 150px;
  }
}

.sell-price {
  color: var(--admin-font-color);
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 16px;
}

.sale-price {
  color: var(--admin-font-color);
  font-size: 1.4rem;
  text-decoration: line-through;
  margin-left: 4px;
}

.name-text {
  color: #fff;
  font-weight: 600;
  margin-top: 6px;
}

.category-text {
  color: var(--admin-font-color);
  font-size: 1.4rem;
  margin-top: 4px;
}

.variant-text {
  color: #fff;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 6px;
}

.colors {
}

.color-container {
  display: flex;
}

.select-color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  margin-right: 4px;
}

.color-1 {
  background-color: #3182ce;
  border-color: #3182ce;
}

.color-2 {
  background-color: #f97316;
  border-color: #f97316;
}

.color-3 {
  background-color: #259782;
  border-color: #259782;
}

.color-4 {
  background-color: #a855f7;
  border-color: #a855f7;
}

// sizes

.sizes {
  color: #fff;
}

.select-size {
  color: var(--admin-font-color);
  padding: 8px 8px;
  border: 0.5px solid rgba($color: #92afd3, $alpha: 0.3);
  margin-right: 6px;
  font-size: 1.2rem;
  border-radius: 4px;
}

.select-size.active {
  border: 1px solid var(--admin-background-color);
  background-color: rgba($color: #333, $alpha: 0.2);
  color: #fff;
}
